@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Ibarra+Real+Nova&display=swap");
/*CARACTERÍSTICAS COMUNES A TODAS LAS PÁGINAS Y EXCLUSIVAS DE INICIO*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Anek Telugu', sans-serif; }

.inicioZona1 {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/meat-charcuterie-fuet-salami-sausages-with-olives-herbs-wooden-background-top-view_89816-37439.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .inicioZona1 h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }
  .inicioZona1 p {
    font-size: 2rem; }

.inicioZona2 {
  margin: 100px auto; }
  .inicioZona2 .foto1Zona2 {
    height: 280px;
    width: 500px;
    border-radius: 3px; }
  .inicioZona2 .textoZona2 {
    padding-right: 50px; }

.fondoMedio {
  background: url(../img/jamoncrudofondonegro.jpg);
  max-height: 550px;
  min-height: 400px;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.inicioZona3 {
  margin: 100px auto; }
  .inicioZona3 .textoZona3 {
    padding-left: 50px; }
    .inicioZona3 .textoZona3 a {
      text-decoration: none;
      color: olive; }
  .inicioZona3 .contactoRapido {
    text-align: center;
    padding-top: 10px; }
    .inicioZona3 .contactoRapido p {
      margin-bottom: 0;
      font-size: 1.5rem; }

.h2Inicio {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold; }

.textoInicio {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.6; }

/*******************************************PRODUCTOS*************************************/
.zona1Prod {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/tapasfondonegro.jpeg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .zona1Prod h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }

.contenedorEmbFres {
  height: calc(100vh - 130px);
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorEmbFres .imgEmbutidosFrescos {
    height: 280px;
    width: 450px;
    border-radius: 4px;
    border-top: 4px solid olive;
    transition: 1s; }
    .contenedorEmbFres .imgEmbutidosFrescos:hover {
      filter: grayscale(60%);
      transform: scale(1.05); }

.contenedorEmbCur {
  height: calc(100vh - 130px);
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid olive; }
  .contenedorEmbCur .imgEmbutidosCurados {
    height: 280px;
    width: 450px;
    border-radius: 4px;
    border-top: 4px solid olive;
    transition: 1s; }
    .contenedorEmbCur .imgEmbutidosCurados:hover {
      filter: grayscale(60%);
      transform: scale(1.05); }

.contenedorEspecial {
  height: calc(100vh - 130px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorEspecial .imgEspecial {
    height: 300px;
    width: 600px;
    border-radius: 4px;
    border-top: 5px solid olive;
    transition: 1s; }
    .contenedorEspecial .imgEspecial:hover {
      filter: grayscale(60%);
      transform: scale(1.05); }

.textProd {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px olive; }

/***********************************************RECETAS***********************************/
.zona1Rec {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/tablabresaola.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .zona1Rec h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }
  .zona1Rec p {
    font-size: 2rem;
    max-width: 600px;
    text-align: center;
    padding-bottom: 10px; }
    .zona1Rec p .linkExterno {
      color: lightgray;
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: bold; }

.videos {
  padding-bottom: 50px; }

.h2Recetas {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px; }

.textoRecetas {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 30px; }

.video1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px; }

.video2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px; }

/*******************************************CAPACITACIÓN**********************************/
.zona1Cap {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/tablafiambresfondonegro.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .zona1Cap h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }

.tituloCap {
  font-size: 4rem;
  padding: 30px 0px; }

.subtituloCap {
  font-size: 2.5rem;
  font-weight: bold; }

.curso1, .curso2 {
  text-align: center; }

.lista1Cap, .lista2Cap {
  display: inline-block;
  text-align: left;
  font-size: 2rem; }

.carousel img {
  margin: 50px auto; }

/**********************************************CONTACTO**********************************/
.zona1Con {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .zona1Con h1 {
    font-size: 4rem;
    font-weight: bold; }

.contenedorForm {
  background: rgba(0, 0, 0, 0.4) url(../img/tablajamoncrudo.jpg);
  background-blend-mode: color-burn;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-attachment: fixed;
  background-position: center; }

form {
  max-width: 380px;
  font-size: 1.5rem;
  margin: 0 10px; }

label {
  display: inline;
  color: white;
  font-weight: bold; }

.inputComun {
  display: block;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  color: white;
  opacity: 80%;
  margin: 5px 0; }
  .inputComun:hover {
    transform: scale(1.02);
    transition: 1s; }

input[type="checkbox"] {
  display: inline;
  margin: 15px 10px 15px 0; }

.boton {
  height: 30px;
  width: 98px;
  color: white;
  background-color: olive;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 2px;
  padding-top: 4px; }
  .boton:active {
    transform: translateY(2px); }

header {
  color: white;
  padding-bottom: 10px;
  background-color: white; }

.nav-link {
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  transition: all 1s; }

.navbar-toggler {
  background-color: lightgray;
  margin-right: 20px; }

.nav-link:hover {
  color: olive;
  filter: blur(0.5px);
  transform: scale(1.05); }

.bordeMenu {
  border-right: olive solid 1px; }

.activo {
  font-weight: bold;
  filter: blur(0.1px); }

.logo {
  width: 200px;
  height: 187px;
  transition: all 1s; }
  .logo:hover {
    filter: blur(1px);
    transform: scale(1.05); }

footer {
  height: 50px;
  color: black;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 5px; }

.wpIcon {
  height: 75px;
  width: 61px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: all 0.5s; }
  .wpIcon:hover {
    scale: 1.1; }

.face, .insta {
  height: 20px;
  width: 20px;
  opacity: 90%;
  margin-right: 5px; }

.pie {
  font-size: 1rem;
  display: inline;
  opacity: 80%;
  display: inline-block;
  width: 200px;
  padding-left: 5px;
  margin-bottom: 0px; }

.gemeloPie {
  display: inline-block;
  width: 200px;
  padding-right: 5px; }

/*************************GENERAL E INICIO*******************************/
@media (max-width: 767px) {
  .bordeMenu {
    border-right: solid 1px transparent; }
  .inicioZona1 h1 {
    font-size: 4rem; }
  .inicioZona1 p {
    font-size: 1.5rem; }
  .logo {
    margin: -10px 0 -30px 0;
    width: 150px;
    height: 115px; }
  .textoInicio {
    text-align: center; }
  .textoZona2 {
    padding-left: 50px;
    margin-top: 50px; }
  .textoZona3 {
    padding-right: 50px; }
  .contenedorMapaTexto {
    margin-top: 50px; }
  .nav-link {
    font-size: 1.5rem;
    margin-top: 10px; } }

@media (min-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: column; }
  .textoZona2 {
    padding-right: 50px; } }

@media (max-width: 575px) {
  .inicioZona1 h1 {
    font-size: 2.5rem; }
  .h2Inicio {
    font-size: 2rem; }
  .textoInicio {
    font-size: 1.5rem; }
  .gemeloPie {
    display: none; }
  .wpIcon {
    height: 49px;
    width: 42px; } }

/*************************PRODUCTOS*******************************/
@media (max-width: 767px) {
  .zona1Prod h1 {
    font-size: 4rem; }
  .contenedorEmbCur {
    height: auto;
    padding-top: 50px; }
  .contenedorEmbFres {
    height: auto;
    padding-top: 50px; }
  .contenedorEspecial {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (max-width: 575px) {
  .zona1Prod h1 {
    font-size: 2.5rem; }
  .imgEmbutidosFrescos {
    height: 196px;
    width: 315px; }
  .imgEmbutidosCurados {
    height: 196px;
    width: 315px; }
  .imgEspecial {
    height: 180px;
    width: 360px; }
  .textProd {
    font-size: 2rem; } }

/*************************RECETAS*******************************/
@media (max-width: 767px) {
  .zona1Rec h1 {
    font-size: 4rem; }
  .zona1Rec p {
    font-size: 1.5rem; }
    .zona1Rec p .linkExterno {
      font-size: 1.5rem; }
  .video1 {
    padding-bottom: 0px; }
  .video2 {
    padding-bottom: 100px; } }

@media (max-width: 480px) {
  .textoRecetas {
    width: auto; }
  .zona1Rec h1 {
    font-size: 2.5rem; } }

/*************************CAPACITACIÓN*******************************/
@media (max-width: 767px) {
  .zona1Cap h1 {
    font-size: 4rem; }
  .tituloCap {
    font-size: 2.5rem; }
  .subtituloCap {
    font-size: 2rem; }
  .lista1Cap, .lista2Cap {
    font-size: 1.5rem; } }

@media (max-width: 575px) {
  .zona1Cap h1 {
    font-size: 2.5rem; } }

/**********************************************CONTACTO**********************************/
@media (max-width: 767px) {
  input[type="submit"] {
    width: 80px;
    font-size: 1.5rem; }
  input[type="reset"] {
    width: 80px;
    font-size: 1.5rem; }
  form {
    font-size: 1.5rem; } }

@media (max-width: 575px) {
  .zona1Con h1 {
    font-size: 2.5rem; } }
