@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Ibarra+Real+Nova&display=swap");
/*CARACTERÍSTICAS COMUNES A TODAS LAS PÁGINAS Y EXCLUSIVAS DE INICIO*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Anek Telugu', sans-serif; }

.inicioZona1 {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/meat-charcuterie-fuet-salami-sausages-with-olives-herbs-wooden-background-top-view_89816-37439.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .inicioZona1 h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }
  .inicioZona1 p {
    font-size: 2rem; }

.h2Inicio {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold; }

.textoInicio {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.6; }

.inicioZona2, .inicioZona3 {
  margin: 100px auto; }

.foto1Zona2 {
  height: 280px;
  width: 500px;
  border-radius: 3px; }

.textoZona2 {
  padding-right: 50px; }

.fondoMedio {
  background: url(../img/jamoncrudofondonegro.jpg);
  max-height: 550px;
  min-height: 400px;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.textoZona3 {
  padding-left: 50px; }
  .textoZona3 a {
    text-decoration: none;
    color: olive; }

.contenedorMapaTexto {
  margin-top: 50px; }

.contactoRapido {
  text-align: center;
  padding-top: 10px; }
  .contactoRapido p {
    margin-bottom: 0;
    font-size: 1.5rem; }

/*******************************************PRODUCTOS*************************************/
.zona1Prod {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/tapasfondonegro.jpeg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .zona1Prod h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }
  .zona1Prod p {
    font-size: 2rem; }

.contenedorEmbFres {
  height: calc(100vh - 130px);
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedorEmbCur {
  height: calc(100vh - 130px);
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid olive; }

.contenedorEspecial {
  height: calc(100vh - 130px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.imgEmbutidosFrescos {
  height: 280px;
  width: 450px;
  border-radius: 4px;
  border-top: 5px solid olive;
  transition: 1s; }
  .imgEmbutidosFrescos:hover {
    filter: grayscale(60%);
    transform: scale(1.05); }

.imgEmbutidosCurados {
  height: 280px;
  width: 450px;
  border-radius: 4px;
  border-top: 5px solid olive;
  transition: 1s; }
  .imgEmbutidosCurados:hover {
    filter: grayscale(60%);
    transform: scale(1.05); }

.imgEspecial {
  height: 300px;
  width: 600px;
  border-radius: 4px;
  border-top: 5px solid olive;
  transition: 1s; }
  .imgEspecial:hover {
    filter: grayscale(60%);
    transform: scale(1.05); }

.textProd {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px olive; }

/***********************************************RECETAS***********************************/
.zona1Rec {
  color: white;
  background: rgba(0, 0, 0, 0.4) url(../img/tablabresaola.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
  border-bottom: 1px olive solid;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .zona1Rec h1 {
    font-size: 6rem;
    font-weight: bold;
    font-style: oblique; }
  .zona1Rec p {
    font-size: 2rem;
    max-width: 600px;
    text-align: center;
    padding-bottom: 10px; }
    .zona1Rec p .linkExterno {
      color: lightgray;
      font-size: 1.8rem;
      text-decoration: none;
      font-weight: bold; }

.videos {
  padding-bottom: 50px; }

.video1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px; }

.video2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px; }

/*******************************************CAPACITACIÓN**********************************/
.contenedorTextoPpal {
  padding-top: 120px;
  padding-right: 10px;
  background-image: url(../img/tablafiambresfondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  border: black solid 2px;
  box-shadow: 10px 10px 10px 10px black; }

.texto3Cap {
  font-size: 3rem;
  line-height: 1.6;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-right: 20vw;
  text-shadow: 10px 10px 10px black; }

.subtitulo1Cap {
  padding-right: 15vw;
  font-size: 2.5rem;
  line-height: 1.6;
  text-shadow: 10px 10px 10px black; }

.lista1Cap {
  padding-right: 5vw;
  font-size: 2.5rem;
  line-height: 1.6;
  list-style-type: lower-latin;
  text-shadow: 10px 10px 10px black; }

.subtitulo2Cap {
  padding-right: 10vw;
  font-size: 2.5rem;
  line-height: 1.6;
  text-shadow: 10px 10px 10px black; }

.lista2Cap {
  padding-right: 5vw;
  font-size: 2.5rem;
  line-height: 1.6;
  list-style-type: lower-latin;
  text-shadow: 10px 10px 10px black; }

/**********************************************CONTACTO**********************************/
.zona1Con {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: -40px; }
  .zona1Con h1 {
    font-size: 2.5rem;
    font-weight: bold; }

.contenedorForm {
  background: rgba(0, 0, 0, 0.4) url(../img/tablabresaola.jpg);
  background-blend-mode: color-burn;
  background-size: cover;
  height: 75vh; }

form {
  max-width: 380px;
  font-size: 1.5rem;
  margin: 0 10px; }

label {
  display: inline;
  color: white;
  font-weight: bold; }

.inputComun {
  display: block;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  color: white;
  opacity: 80%;
  margin: 5px 0; }
  .inputComun:hover {
    transform: scale(1.02);
    transition: 1s; }

input[type="checkbox"] {
  display: inline;
  margin: 5px 10px 5px 0; }

input[type="submit"] {
  height: 30px;
  width: 98px;
  font-size: 1.6rem;
  margin-top: 10px;
  margin-left: 80px;
  color: white;
  background-color: olive;
  border: 1px solid black;
  font-weight: bold; }

input[type="reset"] {
  height: 30px;
  width: 98px;
  margin-left: 20px;
  font-size: 1.6rem;
  margin-top: 10px;
  color: white;
  background-color: olive;
  border: 1px solid black;
  font-weight: bold; }

.boton:active {
  transform: translateY(2px); }

header {
  color: white;
  padding-bottom: 10px;
  background-color: white; }

.nav-link {
  color: black;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  transition: all 1s; }

.navbar-toggler {
  background-color: lightgray;
  margin-right: 20px; }

.nav-link:hover {
  color: olive;
  filter: blur(0.5px);
  transform: scale(1.05); }

.bordeMenu {
  border-right: olive solid 1px; }

.activo {
  color: olive;
  filter: blur(0.2px); }

.logo {
  width: 200px;
  height: 150px;
  transition: all 1s; }
  .logo:hover {
    filter: blur(1px);
    transform: scale(1.05); }

footer {
  height: 50px;
  color: black;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 5px; }

.wpIcon {
  height: 70px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: all 0.5s; }
  .wpIcon:hover {
    scale: 1.1; }

.face, .insta {
  height: 20px;
  width: 20px;
  opacity: 90%;
  margin-right: 5px; }

.pie {
  font-size: 1rem;
  display: inline;
  opacity: 80%;
  display: inline-block;
  width: 200px;
  padding-left: 5px; }

.gemeloPie {
  display: inline-block;
  width: 200px;
  padding-right: 5px; }

/*************************GENERAL E INICIO*******************************/
@media (max-width: 767px) {
  .bordeMenu {
    border-right: solid 1px transparent; }
  .inicioZona1 h1 {
    font-size: 3rem; }
  .inicioZona1 p {
    font-size: 1rem; }
  .logo {
    margin: -10px 0 -30px 0;
    width: 150px;
    height: 115px; }
  .textoInicio {
    text-align: center; }
  .textoZona3 {
    padding-right: 50px; }
  .nav-link {
    font-size: 1.2rem;
    margin-top: 10px; } }

@media (min-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: column; } }

@media (max-width: 575px) {
  .h2Inicio {
    font-size: 2rem; }
  .textoInicio {
    font-size: 1.2rem; }
  .gemeloPie {
    display: none; }
  .wpIcon {
    height: 49px;
    width: 42px; } }

/*************************PRODUCTOS*******************************/
@media (max-width: 767px) {
  .zona1Prod h1 {
    font-size: 3rem; }
  .contenedorEmbCur {
    height: auto;
    padding-top: 50px; }
  .contenedorEmbFres {
    height: auto;
    padding-top: 50px; }
  .contenedorEspecial {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (max-width: 575px) {
  .imgEmbutidosFrescos {
    height: 196px;
    width: 315px; }
  .imgEmbutidosCurados {
    height: 196px;
    width: 315px; }
  .imgEspecial {
    height: 180px;
    width: 360px; }
  .textProd {
    font-size: 2rem; } }

/*************************RECETAS*******************************/
@media (max-width: 767px) {
  .zona1Rec h1 {
    font-size: 3rem; }
  .zona1Rec p {
    font-size: 1.2rem; }
    .zona1Rec p .linkExterno {
      font-size: 1.3rem; }
  .video1 {
    padding-bottom: 0px; }
  .video2 {
    padding-bottom: 100px; } }

@media (max-width: 480px) {
  .textoRecetas {
    width: auto; } }

/*************************CAPACITACIÓN*******************************/
@media (max-width: 767px) {
  .contenedorTextoPpal {
    padding-bottom: 100px;
    height: auto;
    background: rgba(0, 0, 0, 0.6) url(../img/tablafiambresfondonegro.jpg);
    background-blend-mode: color-burn;
    background-size: cover; }
  .texto3Cap {
    font-size: 2rem; }
  .subtitulo1Cap {
    font-size: 2rem; }
  .subtitulo2Cap {
    font-size: 2rem; }
  .lista1Cap {
    font-size: 1.5rem; }
  .lista2Cap {
    font-size: 1.5rem; } }

/**********************************************CONTACTO**********************************/
@media (max-width: 767px) {
  input[type="submit"] {
    width: 80px;
    font-size: 1.2rem; }
  input[type="reset"] {
    width: 80px;
    font-size: 1.2rem; }
  form {
    font-size: 1.3rem; } }

@media (max-width: 575px) {
  input[type="submit"] {
    margin-left: 60px; }
  input[type="reset"] {
    margin-left: 10px; }
  .zona1Con h1 {
    font-size: 2rem; } }
