footer {
	height: 50px;
	color: black;
	background: white;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 5px;
}
.wpIcon {
	height: 70px;
	width: 60px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	transition: all 0.5s;
	&:hover {
		scale: 1.1;
	}
}
.face {
	height: 20px;
	width: 20px;
	opacity: 90%;
	margin-right: 5px;
}
.insta {
	@extend .face
}
.pie {
	font-size: 1rem;
	display: inline;
	opacity: 80%;
	display: inline-block;
	width: 200px;
	padding-left: 5px;
}
.gemeloPie {
	display: inline-block;
	width: 200px;
	padding-right: 5px;
}