
/*************************GENERAL E INICIO*******************************/

@media (max-width: 767px) {
	.bordeMenu {
		border-right: solid 1px transparent;
	}
	.inicioZona1 {
		h1 {
			font-size: map-get($font-size, xl );
		}
		p {
			font-size: map-get($font-size, s );
		}
	}
	.logo {
		margin: -10px 0 -30px 0;
		width: 150px;
		height: 115px;
	}
	.textoInicio {
		text-align: center;
	}
	.textoZona2 {
		padding-left: 50px;
		margin-top: 50px;
	}
	.textoZona3 {
		padding-right: 50px;
	}
	.contenedorMapaTexto {
		margin-top: 50px;
	}
	.nav-link {
		font-size: map-get($font-size, s );
		margin-top: 10px;
	}
}
@media (min-width: 768px) {
	.container-fluid {
		display: flex;
		flex-direction: column;
	}
	.textoZona2 {
		padding-right: 50px;
	}
}
@media (max-width: 575px) {
	.inicioZona1 {
		h1 {
			font-size: map-get($font-size, l );
		}
	}
	.h2Inicio {
		font-size: map-get($font-size, m );
	}
	.textoInicio {
		font-size: map-get($font-size, s );
	}
	.gemeloPie {
		display: none;
	}
	.wpIcon {
		height: 49px;
		width: 42px;
	}
}

/*************************PRODUCTOS*******************************/


@mixin contenedores-comunes {
	height: auto;
	padding-top: 50px;
}

@media (max-width: 767px) {
	.zona1Prod {
		h1 {
			font-size: map-get($font-size, xl );
		}
	}
	.contenedorEmbCur {
		@include contenedores-comunes;
	}
	.contenedorEmbFres {
		@include contenedores-comunes;
	}
	.contenedorEspecial {
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 575px) {
	.zona1Prod {
		h1 {
			font-size: map-get($font-size, l );
		}
	}
	.imgEmbutidosFrescos {
		height: 196px;
		width: 315px;
	}
	.imgEmbutidosCurados {
		height: 196px;
		width: 315px;
	}
	.imgEspecial {
		height: 180px;
		width: 360px;
	}
	.textProd {
		font-size: map-get($font-size, m );
	}
}

/*************************RECETAS*******************************/

@media (max-width: 767px) {
	.zona1Rec {
		h1 {
			font-size: map-get($font-size, xl );
		}
		p {
			font-size: map-get($font-size, s );
			.linkExterno {
				font-size: map-get($font-size, s );
			}
		}
	}
	.video1 {
		padding-bottom: 0px;
	}
	.video2 {
		padding-bottom: 100px;
	}
}
@media (max-width: 480px) {
	.textoRecetas {
		width: auto;
	}
	.zona1Rec {
		h1 {
			font-size: map-get($font-size, l );
		}
}
}

/*************************CAPACITACIÓN*******************************/

@media (max-width: 767px) {
		.zona1Cap {
			h1 {
				font-size: map-get($font-size, xl );
			}
		}
		.tituloCap {
			font-size: map-get($font-size, l );
		}
		.subtituloCap {
			font-size: map-get($font-size, m );
		}
		.lista1Cap, .lista2Cap {
			font-size: map-get($font-size, s );
		}
}
@media (max-width: 575px) {
	.zona1Cap {
		h1 {
			font-size: map-get($font-size, l );
		}
	}
}
/**********************************************CONTACTO**********************************/

@media (max-width: 767px) {
	input[type="submit"] {
		width: 80px;
		font-size: map-get($font-size, s );
	}
	input[type="reset"] {
		width: 80px;
		font-size: map-get($font-size, s );
	}
	form {
		font-size: map-get($font-size, s );
	}
}
@media (max-width: 575px) {
	.zona1Con {
		h1 {
			font-size: map-get($font-size, l);
		}
	}
}